/*menu*/
.menu img {
	position: relative;
	z-index: 1;
	width: 35vh;
	height: 35vh;
	object-fit: cover;
	overflow: hidden;
	border-radius: 10%;
	border: hotpink 3px solid;
}

.menu img:hover {
	opacity: 0.5;
}
.card__title {
	position: relative;
	z-index: 2;
	top: 130px;
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}

/*specific menù*/
.sizeimg {
	width: 100px;
	height: 100px;
	border-radius: 20px;
}

/*jumbotron*/
.jumbotron {
	position: relative;
	height: 55vh;
	background: url("../src/assets/jumbotron.jpg") no-repeat center;
	background-size: cover;
	color: #ffffff;

	display: flex;
	align-items: center;
}

.jumbotron > h1 {
	text-align: center;
	text-shadow: 2px 2px #000000;
}
