/*logo*/

/*jumbotron*/
.jumbotron {
	position: relative;
	height: 55vh;
	background: url("../src/assets/jumbotron.jpg") no-repeat center;
	background-size: cover;
	color: #ffffff;

	display: flex;
	align-items: center;
}

.jumbotron > h1 {
	text-align: center;
	text-shadow: 2px 2px #000000;
}
